@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Classes */
@layer components {
  .full-nav-item {
    @apply rounded-md px-3 py-2 text-sm font-medium text-slate-50 transition-all hover:bg-cyan-700 hover:text-slate-100 hover:shadow-inner;
  }
  .full-nav-active{
    @apply rounded-md px-3 py-2 text-sm font-medium text-slate-100 bg-cyan-700 shadow-inner
  }
  .mobile-nav-item {
    @apply block rounded-md px-3 py-2 text-base font-medium text-slate-50 transition-all hover:bg-cyan-700 hover:text-slate-100 hover:shadow-inner;
  }
  .mobile-nav-active {
    @apply block rounded-md px-3 py-2 text-base font-medium text-slate-100 bg-cyan-700 shadow-inner;
  }
  .footer-main {
    @apply font-bold tracking-wide text-slate-100;
  }
  .footer-secondary {
    @apply font-semibold text-slate-500 transition-all hover:text-cyan-500;
  }
}

/* Hide Scrollbar */
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

* {
  font-family: "Poppins";
}

